@font-face {
    font-family: 'Morelife';
    src: url(../fonts/Morelife.otf);
}

@font-face {
    font-family: 'Overwave';
    src: url(../fonts/Overwave.otf);
}

@font-face {
    font-family: 'GreycliffCF-Light';
    src: url(../fonts/GreycliffCF-Light.otf);
}